# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Kate swap file
*.kate-swp

# kdevelop
.kdev4/
*.kdev4

# deb packaging
ubuntu20/cephgeorep
ubuntu20/cephgeorep.substvars
ubuntu20/cephgeorep.postrm.debhelper
ubuntu20/debhelper-build-stamp
ubuntu20/files
ubuntu20/.debhelper
ubuntu18/cephgeorep
ubuntu18/cephgeorep.substvars
ubuntu18/cephgeorep.postrm.debhelper
ubuntu18/debhelper-build-stamp
ubuntu18/files
ubuntu18/.debhelper

# build output
dist
