[Unit]
Description=Cephfs Sync Daemon
After=network.service

[Service]
Type=simple
PIDFile=/var/run/cephgeorepd.pid
ExecStart=/usr/bin/cephgeorepd

[Install]
WantedBy=multi-user.target
