[Unit]
Description=Cephfs Sync Daemon
After=network.service

[Service]
Type=simple
PIDFile=/run/cephfssyncd.pid
ExecStart=/opt/45drives/cephgeorep/cephfssyncd
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
