Source: cephgeorep
Section: unknown
Priority: optional
Maintainer: Josh Boudreau <jboudreau@45drives.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/cephgeorep
#Vcs-Git: https://salsa.debian.org/debian/cephgeorep.git

Package: cephgeorep
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
